@model IEnumerable<SchedulerModels.Entities.Block>

@{
    ViewBag.Title = "Blocks";
}

<h2>Blocks</h2>

<p>
    @Html.ActionLink("Add New", "Create")
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Is Active
        </th>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Grade
        </th>
        <th>
            Teacher
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grade.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher.Fullname)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BlockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BlockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BlockId })
        </td>
    </tr>
}

</table>
