@model SchedulerModels.Entities.Student

@{
    ViewBag.Title = "New student";
}

<h2>Students</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>New student</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname1)
            @Html.ValidationMessageFor(model => model.Surname1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Surname2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Surname2)
            @Html.ValidationMessageFor(model => model.Surname2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IdNumber)
            @Html.ValidationMessageFor(model => model.IdNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MotherName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MotherName)
            @Html.ValidationMessageFor(model => model.MotherName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FatherName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FatherName)
            @Html.ValidationMessageFor(model => model.FatherName)
        </div>

        <p>
            <input type="submit" value="Add student" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
