@model SchedulerModels.Entities.GradeLevel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Grade Level</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">Ages</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ages)
    </div>

    <div class="display-label">Level</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.GradeLevelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
